html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}


.site {
  margin: 2em auto;
  padding: 0 3em 1.25em;
  width: 95%;
  max-width: 920px;
}

img {
  max-width: 100%;
}

h1 {
  padding-top: 1em;
}

.lead h2 {
  margin-top: 0;
}

.lead img {
  object-fit: contain;
}

.payment {
  margin-bottom: 1.25em;
  text-align: center;
}

ul {
  list-style-position: inside;
}

img.map {
  width: 100%;
  max-width: 460px;
}


@media (min-width: 920px) {

  .payment {
    /* text-align: unset; */
  }

  .row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .row>* {
      flex-grow: 1;
      /* flex-shrink: 1; */
  }

  .row>.one-third {
    max-width: 31%;
  }

  .row>.two-thirds {
    max-width: 65%;
  }

  .row>.one-half {
    max-width: 48%;
  }

}
