img {
  max-width: 100%;
}
.list--clean {
  list-style: none;
  margin: 0;
  padding: 0;
}

.intro {
  width: 100%;
  min-height: 55vh;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  padding-left: 12px;
  padding-right: 12px;
}

.main__content {
  padding: 0 4%;
  max-width: 650px;
  margin: 0 auto 5em;
}

.payment--annual {
  border-bottom: 3px double;
}

.payment__label {
  font-weight: bold;
  margin: 2.75rem 0 1rem;
}

.payment__buttons {
  margin-bottom: 2em;
}


@media only screen and (min-width: 1020px) {
  .intro {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 30vw;
    padding: 10% 0;
    justify-content: space-evenly;
  }
  .main {
    margin-left: 31vw;
  }

  .payments {
    display: flex;
    flex-flow: row nowrap;
  }

  .payment {
    width: 48%;
    padding: 0 15px;
  }

  .payment--annual {
    border-bottom: unset;
    border-right: 3px double;
  }

  .payment__label {
    margin-top: 0;
  }
}
