body {
  /* background-image: url(http://p1cdn2static.civiclive.com/UserFiles/Servers/Server_109478/Image/Background/cityviewatday.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;*/
  background-color: #4B698B;
}

.site {
  background: white;
}
